[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=sketchbookExtension
X-Python-2-Compatible=false
Name=Sketchbook extension
Comment=extension allowing to switch between sketchbook pages
